In [1]:
def greet(user):
    return f"{user}-->"

greet()

TypeError: greet() missing 1 required positional argument: 'user'

In [ ]:
## when default value seted previously , without passing paramenter  we can call the function
def greet(user="anik"):
    return f"{user}-->"

greet()

'anik-->'

In [ ]:
def show_employee(name="anonymous",salary=9000):
    print(f'Employee Name:{name} , salary :{salary}')



show_employee("rakib",34006)
show_employee("sakib",salary=50000)
show_employee()

Employee Name:rakib , salary :34006
Employee Name:sakib , salary :50000
Employee Name:anonymous , salary :9000

In [ ]:
def square_addition(a,b,c): #positional argument
    print(f"a = {a},b = {b},c = {c}")
    a = a**2
    b = b**2
    c = c**2
    return a+b+c

ans = square_addition(10,12,10)+12
print(ans)

a = 10,b = 12,c = 10
356

In [6]:
ans = square_addition(b=10, c=20, a=30) + 10
print(ans)

a = 30,b = 10,c = 20
1410

In [13]:
#**kwargs
def student(**kargs):
    print(kargs)
    for key,value in kargs.items():
        print(f"{key}-->{value}")
student(name="adil", cls=10, roll=30, marks=30.5)

{'name': 'adil', 'cls': 10, 'roll': 30, 'marks': 30.5}
name-->adil
cls-->10
roll-->30
marks-->30.5

In [ ]:
#args
def students(*args):
    print(args)
    for i in args:
        print(i)

students("karim",10,23.3,45)

('karim', 10, 23.3, 45)
karim
10
23.3
45

In [15]:
def give_prediction():
    return 10.5
print(type(give_prediction()))# Output: <class 'float'>

def give_prediction():
    return "name"
print(type(give_prediction()))# Output: <class 'str'>

<class 'float'>
<class 'str'>

In [16]:
def give_prediction(a, b):
    return a, b

print(type(give_prediction(10,30)))# Output: <class 'tuple'>
print(give_prediction(10,30))# Output: (10, 30)

<class 'tuple'>
(10, 30)

In [17]:
x, y = give_prediction(10,30)
print(x, y) # Output: 10 30

10 30

In [18]:
def give_prediction():
    a = [10,20,30]
    b = [20,30,40]
    return a, b

x, y = give_prediction()
print(x)# Output: [10, 20, 30]
print(y)# Output: [20, 30, 40]

[10, 20, 30]
[20, 30, 40]

In [20]:
def give_prediction():
    a = {10,20,30}
    b = [100,200,300]
    return a, b

x = give_prediction()
print(type(x))       # Output: <class 'tuple'>

for item in x:
    print(item)
    print(item)

<class 'tuple'>
{10, 20, 30}
{10, 20, 30}
[100, 200, 300]
[100, 200, 300]

In [21]:

BIG_DATASET = [num for num in range(500)]


# 2. Generator Function
def chunk_generator(chunk_size: int, data_list: list):

    for i in range(0, len(data_list), chunk_size):
        # returning a chunk without loading the entire dataset into memory at once.
        yield data_list[i : i + chunk_size]


print("--- Using the Generator ---")

# Initialize the generator object with a chunk size of 5
data_chunks = chunk_generator(chunk_size=5, data_list=BIG_DATASET)

# Retrieve and print the first chunk
print(f"First chunk: {next(data_chunks)}")

# Retrieve and print the second chunk
print(f"Second chunk: {next(data_chunks)}")

# Retrieve and print the third chunk
print(f"Third chunk: {next(data_chunks)}")

--- Using the Generator ---
First chunk: [0, 1, 2, 3, 4]
Second chunk: [5, 6, 7, 8, 9]
Third chunk: [10, 11, 12, 13, 14]

In [24]:
l = map(int,input().split())
print(list(l))

[12, 13, 134, 414]

In [27]:
from functools import reduce
def findmax(a,b):
    return a if a>b else b
def findmin(a,b):
    return a if a<b else b

n=int(input())

l = list(map(int,input().split()))
max = reduce(findmax,l)
min = reduce(findmin,l)

print(max,min)

5 1

In [30]:
n=int(input())

l1= list(map(int,input().split()))
l2= list(map(int,input().split()))

L3 =  l2+l1
print(*L3)

3 4 1 2