## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
type(age)

int

In [1]:
total_tea_leaves_harvested = 1_000_000_000
print(total_tea_leaves_harvested)

1000000000

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [1]:
## string datatype example
name="Krish"
print(name)
print(type(name))

Krish
<class 'str'>

String , indexing, slicing

In [2]:
chai_type = "Ginger Chai"
customer_name = "Priya"
print(f"Order for {customer_name}: {chai_type} please !!")

Order for Priya: Ginger Chai please !!

In [3]:
for i in chai_type:
    print(i)

G
i
n
g
e
r

C
h
a
i

In [21]:
chai_type = "Ginger Chai"
print(f"first word:{chai_type[0:6]}")
print(f"first word:{chai_type[:6]}")
print(f"first word:{chai_type[:-1]}")
print(f"first word:{chai_type[::-1]}")

first word:Ginger
first word:Ginger
first word:Ginger Cha
first word:iahC regniG

Encoding decoding

In [23]:
label_text = "Sepatial charecter"
encoded_label = label_text.encode("utf-8")
print(label_text)
print(encoded_label)
print(encoded_label.decode("utf-8"))

Sepatial charecter
b'Sepatial charecter'
Sepatial charecter

Boolean

In [7]:
## boolean datatype
is_true=True
type(is_true)

bool

In [11]:
a=10
b=10

type(a==b)

bool

In [12]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

we can only add string to string as concatination

In [14]:
result="Hello" + str(5)
print(result)

Hello5

tuples