#### Tuples
Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [17]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [18]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [20]:
#list to tuple
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
#tuple to list
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [23]:
#mixed data types tuple
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [29]:
## Accessing Tuple Elements

numbers=(1,"Hello World",3.14, True,False,4.5)
for te in numbers:
    print(type(te),te)

<class 'int'> 1
<class 'str'> Hello World
<class 'float'> 3.14
<class 'bool'> True
<class 'bool'> False
<class 'float'> 4.5

In [ ]:
#we can slice tuple  
numbers[0:4]

(1, 'Hello World', 3.14, True)

In [32]:
numbers[::-1]

(4.5, False, True, 3.14, 'Hello World', 1)

In [ ]:
## Tuple Operations
mixed_tuple=(1,"Hello World",3.14, True)
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 'Hello World', 3.14, True, False, 4.5, 1, 'Hello World', 3.14, True)

In [35]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [36]:
numbers *3

(1,
 'Hello World',
 3.14,
 True,
 False,
 4.5,
 1,
 'Hello World',
 3.14,
 True,
 False,
 4.5,
 1,
 'Hello World',
 3.14,
 True,
 False,
 4.5)

In [37]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [16]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [39]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [40]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [42]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:2]

[1, 2]

In [ ]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.